<%- include('partials/header') -%>

<div class="container mt-5">
    <h2 style="text-align: center; font-family: 'Times New Roman', Times, serif; color: crimson; font-weight: bold;">**Global Blood Bank**</h2>
    <img src="/imagaes/ss.jfif" height="400px" width="100%"/>
    <div class="container mt-5">
        <a style="padding-left: 30%;" href="/doners"><Button class="btn btn-danger">Get Doner</Button></a>
        <a  style="padding-left: 10%;"  href="/donor/new"><Button class="btn btn-danger">Become Doner</Button></a>
    </div>
</div>

  
    <%- include('partials/footer') -%>