<%- include('partials/header') -%>
    <div class="container mt-5 w-50">

        <h2 class="mb-4">Register as Donor</h2>

        <form action="/donor/new" method="POST">
            <input type="text" name="name" class="form-control" placeholder="Donar Name">

            <input type="text" name="bloodGroup" class="form-control" placeholder="Blood Group">

            <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number">

            <button type="submit" class="btn btn-danger btn-block mt-3">Register</button>

        </form>
    </div>
    <%- include('partials/footer') -%>